body{background-color: #8b6a60;}
.walker{
    width:349px;
    height:365px;
    position:fixed;
    left:50%;
    top:50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); 
  /*  border: 1px solid red;*/
}
.fadeInLong {
  -webkit-animation: fadeIn 7s ease 0s 1 both;
  -ms-animation: fadeIn 7s ease 0s 1 both;
  -moz-animation: fadeIn 7s ease 0s 1 both;
  -o-animation: fadeIn 7s ease 0s 1 both;
          animation: fadeIn 7s ease 0s 1 both;
          background:url(../image/01.jpg) no-repeat center center / cover;
}
.fadeOutLong {
  -webkit-animation: fadeOut 7s ease 0s 1 both;
  -ms-animation: fadeOut 7s ease 0s 1 both;
  -moz-animation: fadeOut 7s ease 0s 1 both;
  -o-animation: fadeOut 7s ease 0s 1 both;
          animation: fadeOut 7s ease 0s 1 both;
          background:url(../image/02.jpg) no-repeat center center / cover;
}
/*#trick_t
{
   position:absolute;
   left:46%;
   top:85%;
   margin-top: 35px;
   border: 1px solid black;
   text-align: center;
}*/
/*#trick_t .avatar_t{
  text-decoration:none;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
} */
/*.copyright-text
{
  margin-top: 70px;
  color: #ee9ca7;
}
#trick{
  margin-top: 45px;

}*/
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

