*{
	margin: 0;
	padding:0;
}
a{
	text-decoration: none;
}
a:hover{
	color: color:#9f3;
}
ul,li{
   list-style: none;
}
body{
	font-family: Lato,"Microsoft YaHei",sans-serif;
	font-weight: 400;
	font-size: 1.1em;
}

h1 {
	font-size:3.5em;
	margin:0 0 0.5em 0;
	color:#fff;
} 
h2{
	font-size:2em;
	margin:0 0 0.2em 0;
} 
h3{
	font-size:1.5em;
	margin:0 0 0.1em 0;
} 
h4{font-size:1.25em;margin:0 0 0.1em 0;color:#fff} 
h5{font-size:1.2em;margin:0 0 0.1em 0;} 
h6{font-size:1.1em;margin:0 0 0.1em 0;} 
p{font-size:1.1em;margin:0.5em 0;color:#fff} 
.center{text-align:center}/*将元素居中*/
ul .clearfix{
	content: "";
	display: block;
	clear:both;
	margin-left: 100px;
}
#fullpage .section:first-of-type{
	background-color: #3D8AA0;
}
#avatar{
	display: inline-block;
	width:225px;
	height:262px;
	border: 1px solid #3D8AA0;
	border-radius: 50%;
	
}
#fullpage .section:first-of-type .mail a{
	color: #9f3;
}
#fullpage .section:first-of-type .mail a:hover{
	color: white;
}

#fullpage .section:nth-child(2){
	background-color: #1BBC9B;
}
#fullpage .section:nth-child(2) .mes-pic{
	width: 48px;
	height: 48px;
    border: 1px solid white;
    border-radius: 50%;
    
}
.message li{
	height: 60px;
	width:300px;
	margin: 0 auto;
}
.message li div{
	float: left;
}
.message .item{
	margin: 11px 0px 0px 20px;
}
#fullpage .section:nth-child(2) ul .education{
	background: white url("../image/mes.png") 10px 9px no-repeat;
	
}
#fullpage .section:nth-child(2) ul .school{
	background: white url("../image/mes.png") 7px -33px no-repeat;

}
#fullpage .section:nth-child(2) ul .location{
background: white url("../image/mes.png") 9px -74px no-repeat;

}
#fullpage .section:nth-child(2) ul .age{
background: white url("../image/mes.png") 8px -119px no-repeat;//url从CSS的文件夹相对路径算起
}
#fullpage .section:nth-child(3){
	background-color: #D7E58E;
}
#fullpage .section:nth-child(3) ul li img{
	height:72px;
	width:72px;
	border:1px solid #D7E58E; 
	border-radius: 50%;
	background-color: white;
}
#fullpage .section:nth-child(3) a{
	color: #040452;
	font-weight: bold;
}
#fullpage .section:nth-child(3) li{
	height: 80px;
	width: 430px;
	margin: 0 auto;
}
#fullpage .section:nth-child(3) li .info{
	margin-top: 10px;
	width: 280px;
	float: left;
}
#fullpage .section:nth-child(3) ul li .same{
	float: left;
	margin-left: 10px;
}
#fullpage .section:nth-child(3) .skill{
    color: #040452;
	font-weight: bold;
}
#fullpage .section:nth-child(3) .more{
	color: #040452;
	font-weight: bold;
	margin-top: 30px;
}
#fullpage .section:nth-child(3) .github{
	color: #1BBC9B;
	display: inline-block;
	margin-left: 10px;
}
#fullpage .section:nth-child(4){
	background-color: #666;
}
#fullpage .section:nth-child(4) p:nth-of-type(1){
     color:#C7C0C0;
     font-weight: bold;
}
#fullpage .section:nth-child(4) p:nth-of-type(2){

}
#fullpage .section:nth-child(4) p:nth-of-type(3){
     color:#3D3948#666#666#666;
     font-weight: bold;
}
#fullpage .section:nth-child(4) p:nth-of-type(3) a{
     color:#33A7CC;
     font-weight: bold;
}
#fullpage .section:nth-child(5){
	background-color: rgba(236, 153, 52, 0.89);
}
#fullpage .section:nth-child(5) p:nth-of-type(1){
	color: #D24D4D;
	font-size: 2em;
    font-weight: bold;
}
#fullpage .section:nth-child(5) p:nth-of-type(3){
    color: #9f3;
    font-size: 1.5em;
    font-weight: bold;
}
#fullpage .section:nth-child(5) p:nth-of-type(4) a{
	font-size: 1.5em;
    font-weight: bold;
    color: #48C7AD;
}
#fullpage .section:nth-child(5) p:nth-of-type(4) a:hover{
	color: #D24D4D;	
}